form{
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;  
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 10px;
    /* width: 200px; */
 }
 input{
     padding: 10px;

 }